@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
    background: #ddd;
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-columns: 900px 200px 150px 200px;
    gap: 30px;
    padding: 20px;
}

/* GRID Клавіатури */
.keyboard {
    display: grid;
    grid-template-columns: repeat(13, 60px);
    grid-auto-rows: 60px;
    gap: 6px;
}

/* NumPad */
.numpad {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-auto-rows: 60px;
    gap: 6px;
}

/* Navigation */
.nav-block {
    display: grid;
    grid-template-columns: repeat(3, 65px);
    grid-auto-rows: 60px;
    gap: 6px;
}

/* Arrows */
.arrows {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(2, 60px);
    gap: 6px;
    align-self: center;
}

/* Стиль клавіш */
.key {
    background: #fff;
    border: 2px solid #888;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    box-shadow: 0 3px 0 #777, 0 3px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.15s;
    user-select: none;
}

/* Анімація натискання */
.key:active {
    transform: translateY(3px);
    box-shadow: 0 1px 0 #555 inset;
    background: #f1f1f1;
}

/* Розширені клавіші */
.wide2 { grid-column: span 2; }
.wide3 { grid-column: span 3; }
.wide4 { grid-column: span 4; }

.tall { grid-row: span 2; }
.tall2 { grid-row: span 2; padding-top: 30px; }

.spacebar {
    grid-column: span 7;
    height: 60px;
    padding-top: 20px;
    font-size: 18px;
}

/* Дрібні клавіші */
.small {
    font-size: 13px;
    line-height: 14px;
    padding-top: 10px;
}

/* Стрілки */
.arrow {
    font-size: 22px;
    padding-top: 10px;
}
